* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: rgb(243, 123, 11);
  transition: 0.5s;
}

a:hover {
  color: rgb(173, 87, 7)
}